:root{
    --color-background: #8A71C9; 
    --color-text: #F0F0F7;
    --color-title: #2a0074;
    --color-childhood: #04ff9f ;
    --color-youth: #FF9E9E ;
    --color-adult: #ffe96d;
    --color-link: #99ffff;
    --color-menu: #FF6CB5;
    --color-main: #FFF;
    --color-button: #30b830;


    font-size: 20px;

}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text); /* Color é a cor geral dos textos */
    margin: 0;
}
.title-Primary{
    font-size: 3rem;
    font-weight: bold;
    align-content: center;
    margin: 0 auto;
}

.Ada{
    color: var(--color-title);
    font-size: 2rem;

}

.title-green{
    color: var(--color-childhood);
    font-size: 2rem;
    font-style: italic;
}

.title-magenta{
    color: var(--color-youth);
    font-size: 2rem;
    font-style: italic;

}

.title-yellow{
    color: var(--color-adult);
    font-size: 2rem;
    font-style: italic;

}

.one{
    width: 50%;
    max-width: 60%;
    margin: 0 auto;
    border: black;
}

section section{
    width: 100% ;
}


p{
    font-size: 1rem;
    line-height: 1.5rem;
}

img{
    width: auto;
}

.imgAda{
    max-width: 30rem;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
}

a{
    text-decoration: none;
    color: var(--color-link);
    font-weight: 700;
    line-height: 2;
}
.main{
    background-color: var(--color-menu);
    height: 2rem;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    
}

.main a {
    color: var(--color-main);
    text-decoration: underline;
    font-weight: normal;
   

}

.main li{
    display: inline-block;
    line-height: 1rem;
    margin: 0 3rem;
}

form input{
    padding: 0.3rem 2rem;


}
button{

    background: var(--color-button);
    color: var(--color-text);
    border: solid transparent;
    border-radius: 0.2rem;
    padding: 0.5rem 3rem ;
    margin: 0.2rem 1rem;

}
button:hover{
    background-color: green;
}

